.frame {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #e5e5e5;
}
.frame .main_frame {
    position: relative;
    width: 1440px;
    height: 1312px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 2px;
    background: #f7f6b9;
}
.main_frame .left_frame {
    position: relative;
    width: 305px;
    height: 1315px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.main_frame .midd_frame {
    position: relative;
    width: 970px;
    height: 1259px;
    margin-left: 30px;
    margin-right: 27px;
    display: flex;
    flex-direction: column;
    
}
.main_frame .right_frame {
    position: relative;
    width: 108px;
    height: 1315px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_frame .left_1 {
    position: relative;
    width: 228px;
    height: 267px;
    margin-left: 50px;
    margin-right: 37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua;  */
}

.main_frame .left_1 .left_1_1 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 156.16px;
    height: 142.53px;
    margin-bottom: 29.46px;
}
.main_frame .left_1 .left_1_2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 66.63px;
    height: 20.9px;
    margin-bottom: 6.65px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    text-transform: capitalize;
    color: #2b2b2b;
}
.main_frame .left_1 .left_1_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 147.84px;
    height: 20.65px;   
    margin-bottom: 20px;
}



.main_frame .marginer{
    position: relative;
    width: 220px;
    height: 0px;
    margin-left: 40px;
    margin-bottom: 25px;
    margin-top: 39px;
    border: 1.5px solid #f0f0f6;
}


.main_frame .left_5 {
    position: relative;
    width: 221px;
    height: 126px;
    margin-left: 44px;
    margin-right: 40px;
    /* background-color: aqua; */
}

.left-icons{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 228px;
    height: 22px;
}
.link_href{
    text-decoration: none;
    color: black;
}

.icon{
  
    position: relative;
    width: 24.99px;
    height: 21.61px;
    border-radius: 50%;
    filter: drop-shadow(0 4px 4px rgba(0,0,0,.25));
    background: #ffb400;
}
.icon-1{
   
    position: relative;
    left: 20.17%;
    right: 27.08%;
    bottom: 10%;
    margin-top: 5.86px;
}

.main_frame .left_2 {
    position: relative;
    width: 221px;
    height: 126px;
    margin-left: 44px;
    margin-right: 40px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    /* background-color: aqua; */
}

.left_2_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
    }


    .left_key{
    font-family: sans-serif; 
    font-style: normal;
    display: flex;
    justify-content: start;
    font-size: 18px;
    background: #ffb400;
    margin: 6px;
    padding-right: 2%;
    }

    .left_value{
    font-family: sans-serif; 
    font-style: normal;
    font-size: 18px;
    margin-left: 3px;
    display: flex;
    justify-content: flex-end;
   
    }



    .left_residence{
    font-family: sans-serif; 
    font-style: normal;
    width: 80px;
    height: 30px;
    margin: 5px;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    background: #ffb400;
    }

    .left_free{
    font-family: sans-serif; 
    font-style: normal;
    width: 76px;
    height: 30px;
    margin: 5px;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    background: #ffb400;
    }

    .left_address{
    font-family: sans-serif; 
    font-style: normal;
    width: 65px;
    height: 30px;
    margin: 5px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    background: #ffb400;
    }
 
    .main_frame .left_3 {
    position: relative;
    margin-top: 0px;
    width: 220px;
    height: 153px;
    margin-left: 44px;
    margin-right: 40px;
    /* background-color: aqua; */
    }
    .language{
    font-family: sans-serif; 
    font-style: normal;
    width: 65px;
    height: 30px;
    font-size: 20px;
    font-weight: 600;
    }

    .left_3-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%; 
    }

    .lang{
    font-family: sans-serif; 
    font-style: normal;
    display: flex;
    margin-left: 0px;
    /* justify-content: start; */
    font-size: 18px;
    margin: 5px;
    }
    .pro{
    font-family: sans-serif; 
    font-style: normal;
    display: flex;
    margin-left: 0px;
    /* justify-content: start; */
    font-size: 18px;
    margin: 5px;
    }

    .left_3-3{
        margin: 2px;
        height: 4px;
        border: 1px solid orange;
        border-radius: 30px;
    }
    .foiz{
        border: 1px solid orange;
        width: 98%;
        margin-left: 1px;
        margin-top: 1px;
    }
    .foiz1{
        border: 1px solid orange;
        width: 78%;
        margin-left: 1px;
        margin-top: 1px;
    }
    .foiz2{
        border: 1px solid orange;
        width: 58%;
        margin-left: 1px;
        margin-top: 1px;
    }

    .main_frame .left_4 {
    position: relative;
    width: 221px;
    height: 242spx;
    margin-left: 44px;
    margin-right: 40px;
    /* background-color: aqua; */
}

    .left_4-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%; 
    }

    .left_4-3{
        margin: 2px;
        height: 4px;
        border: 1px solid orange;
        border-radius: 30px;
    }

    .foiz4{
        border: 1px solid orange;
        width: 90%;
        margin-left: 1px;
        margin-top: 1.5px;
    }
    .foiz5{
        border: 1px solid orange;
        width: 85%;
        margin-left: 1px;
        margin-top: 1.5px;
    }
    .foiz6{
        border: 1px solid orange;
        width: 80%;
        margin-left: 1px;
        margin-top: 1.5px;
    }
    .foiz7{
        border: 1px solid orange;
        width: 75%;
        margin-left: 1px;
        margin-top: 1.5px;
    }
    .foiz8{
        border: 1px solid orange;
        width: 85%;
        margin-left: 1px;
        margin-top: 1.5px;
    }
.left_5-2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    width: 100%; 
    margin: 5px;
    }
.left_5-1{
font-family: sans-serif; 
font-style: normal;
margin-bottom: 15px;
font-size: 18px;
font-weight: 500;
line-height: 123.6%;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
}

.left_5-text{
display: flex;
width: 100%;
font-family: sans-serif; 
font-style: normal;
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
margin-left: 20px;

}
.left_5-icon{
    display: flex;
    margin-left: 7px;
}